# Docker
docker
.dockerignore

# Git
.git
.github
.gitignore

# installer
#Makefile
[Mm]akefile.config
downloads

# Environments
env

# Python / Extensions etc.
*~
*.mo
*.so
*.py[cod]
*.bak
*.sqlite
*.egg[s]
*.egg-info
*egg[s]__pycache__
.python_history

# Unit test / Coverage reports
.cache
.coverage
coverage
.pytest_cache
.tox
nosetests.xml
unit_tests/testdata.json
tests
**/*.log
**/*.lock
testdata.json
reports

# R
*.Rhistory

# Eclipse / PyDev
.project
.pydevproject
.settings

# PyCharm
*.idea

# Intellij
*.iml

# Kate
*.kate-swp

# Sublime Text Editor
*.sublime*

# sphinx
docs

# External Sources
[Bb]uild
src

# IPython
.ipynb_checkpoints

# gcc/fortran
**/*.o
**/*.a
**/*.mod
**/*.out

# Project process results
workflows
**/*.tif
**/*.zip

# Project local configurations
!config/*.example
config/*

# Old project sources
[Bb]in
