# installer
#Makefile
[Mm]akefile.config
downloads

# Docker
#Dockerfile

# Python / Extensions etc.
*~
*.mo
*.so
*.py[cod]
*.bak
*.sqlite
*.egg[s]
*.egg-info
*egg[s]
__pycache__

# Unit test / Coverage reports
.cache
.coverage
.pytest_cache
.tox
coverage.xml
coverage
reports
nosetests.xml
unit_tests/testdata.json
result[s].xml

# R
*.Rhistory

# Eclipse / PyDev
.project
.pydevproject
.settings

# PyCharm
*.idea

# Intellij
*.iml

# Kate
*.kate-swp

# Sublime Text Editor
*.sublime*

# External Sources
src

# tests
*.log
*.lock
testdata.json

# IPython
.ipynb_checkpoints

# gcc/fortran
*.o
*.a
*.mod
*.out

# snappy
esa-snap_sentinel_unix_6_0.sh
response.varfile

# conda
environment.yml

# environment
env
venv

# process results
*.tif
*.zip

# project
workflows
