[buildout]
extends = buildout.cfg

[config]
workers = 5
timeout = 30

## Development options
# versions = noversions

[settings]
prefix = ${environment:HOME}/birdhouse
configuration = default
hostname = localhost
https-port = 5000
log-level = WARN

mongodb-host = localhost
mongodb-port = 27017
mongodb-dbname = weaver_db

ssl-verify = true|false

wps = true|false
wps-cfg = /path/to/custom/wps.cfg
wps-path = /path/to/wsp (or value in 'wps-cfg.server.url')
wps-output = /path/to/custom/wps-outputs
wps-restapi = true|false
wps-restapi-path = /base/path/of/rest/api
wps-restapi-ref = https://rest-api-reference.com/conformance-path
wps-email-notify-from-addr = example@email.com
wps-email-notify-password = 123456
wps-email-notify-template = /path/to/mako/template.mako

# See weaver.processes.sources.py for schema
data-sources = ./data_sources.json.example
extra-options = part.option1=value1,part.option2=value2
