[buildout]
extends = buildout.cfg

[settings]
hostname = localhost 
http-port = 8083
log-level = WARN
username =
password =
ows-security = true
ows-proxy = true
rpcinterface = true
wps = true
wps-cfg =
temp-path =
