[buildout]
extends = buildout.cfg

[settings]
hostname = localhost
http-port = 8083
https-port = 5000
log-level = WARN
username =
password =
workdir =
ows-security = true
ows-proxy = true
rpcinterface = true
wps = true
wps-cfg =
