{
    "crim": {
        "netloc":"ogc-ades.crim.ca",
        "ades":"https://ogc-ades.crim.ca/twitcher"
    },
    "localhost": {
        "netloc":"localhost",
        "ades":"https://localhost:5001",
        "default":"true"
    },
    "sentinel2": {
        "collection_id": "EOP:IPT:Sentinel2",
        "accept_schemes": ["http", "https"],
        "rootdir": "/eodata/Sentinel-2",
        "ades":"https://localhost:5001",
        "osdd_url": "http://geo.spacebel.be/opensearch/description.xml"
    },
    "probav": {
        "collection_id": "EOP:VITO:PROBAV_P_V001",
        "accept_schemes": ["http", "https"],
        "rootdir": "",
        "ades":"https://localhost:5001",
        "osdd_url": "http://geo.spacebel.be/opensearch/description.xml"
    },
    "deimos": {
        "collection_id": "DE2_PS3_L1C",
        "accept_schemes": ["http", "https"],
        "rootdir": "",
        "ades":"https://localhost:5001",
        "osdd_url": "http://geo.spacebel.be/opensearch/description.xml"
    }
}