# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/source/conf.py')
-r requirements.txt
cloud_sptheme
pycodestyle
sphinx>=2.4
sphinx-autoapi>=1.3.0
sphinx-paramlinks>=0.4.1
sphinx_autodoc_typehints[type_comments]
sphinx_rtd_theme
