pip>=20.2.2
# pin version to avoid issue related to `use_2to3` called within `rdflib-jsonld` (via cwltool -> schema_salad)
# (see https://github.com/pypa/setuptools/blob/7685e2393c9f44bcff13d62361f2355595d856ba/CHANGES.rst#v5803)
setuptools==57,!=58.*
