# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/source/conf.py')
-r requirements.txt
cloud_sptheme
sphinx>=3.5,<4
sphinx-argparse
sphinx-autoapi>=1.7.0
sphinx-paramlinks>=0.4.1
# adds redoc OpenAPI directly served on readthedocs
sphinxcontrib-redoc>=1.6.0
sphinx_autodoc_typehints[type_comments]>=1.11.1
sphinx_rtd_theme>=0.5.1
