# pyup: ignore file
-r requirements-doc.txt
# pylint>=2.5 requires astroid>=2.4
# install/update sometime fails randomly, so enforce it
astroid
bandit
bump2version
codacy-coverage
coverage
doc8>=0.8.1
docformatter>=1.5.0     # add support of config file
flake8
flynt
isort>=4.3.21,<5
mock<4
# AWS mock tests (against boto3)
# (fix werkzeug>=2.2.2 dependency, see https://github.com/spulec/moto/issues/5341)
moto>=4.0.8
mypy_boto3_s3
parameterized
pluggy>=0.7
# FIXME: bad interpolation of 'setup.cfg' for pytest 'log_format' (https://github.com/pytest-dev/pytest/issues/10019)
pytest<7
pydocstyle
pylint>=2.11,!=2.12,<2.14; python_version <= "3.6"
pylint>=2.15.4; python_version >= "3.7"
pylint_quotes
responses
safety
stopit
typing_extensions
WebTest
wsgiproxy
WSGIProxy2
