alembic
beaker
# AWS support (S3 buckets)
boto3
# windows fixes until
# https://github.com/celery/billiard/issues/260
# https://github.com/celery/billiard/issues/313
billiard; sys_platform != "win32"
billiard>3.2,<3.4; sys_platform == "win32"
# FIXME: pymongo>=4 breaks with kombu corresponding to pinned Celery (https://github.com/crim-ca/weaver/issues/386)
#   celery >=4.4.3 breaks on 'future.utils' import
#   celery's CLI interface changed
#   https://github.com/celery/celery/blob/master/docs/whatsnew-5.2.rst#upgrading-from-celery-4x
celery[mongodb]<4; sys_platform == "win32"  # pyup: ignore
celery[mongodb]>=5.2.3; sys_platform != "win32" and python_version >= "3.7"  # pyup: ignore
# technically, >=5.2 preferred to resolve security issue, but dependency resolver cannot find it
# FIXME: drop support? more recent versions not avilable for end-of-life python
celery[mongodb]>=5.1; sys_platform != "win32" and python_version <= "3.6"  # pyup: ignore
cffi
colander
cornice
#cornice_swagger>=0.7.0
git+https://github.com/fmigneault/cornice.ext.swagger.git@openapi-3#egg=cornice-swagger
cryptography
# FIXME: properly support GPU execution
#   - https://github.com/crim-ca/weaver/issues/104
#   - https://github.com/crim-ca/weaver/issues/138
# use cwltool gpu-enabled support until integrated within the original tool
# (https://github.com/common-workflow-language/common-workflow-language/issues/587)
### git+https://github.com/crim-ca/cwltool@docker-gpu#egg=cwltool; python_version >= "3"
# FIXME: remove extra CWL code and let it handle it for use
#   - changes since cause error with invalid get_listing import location
#   - https://github.com/crim-ca/weaver/issues/154
# https://github.com/common-workflow-language/cwltool/commit/5bdb3d3dd47d8d1b3a1685220b4b6ce0f94c055e
# (update rdflib that supports 'rdflib-jsonld>0.5.0'), minimal verison 3.0.20210124104916
cwltool==3.1.20210816212154
docker
duration
git+https://github.com/ESGF/esgf-compute-api.git@v2.3.7#egg=esgf-compute-api
# gunicorn >20 breaks some config.ini loading parameters (paste)
# it is also only available for Python >=3.5
# use pserve to continue supporting config.ini with paste settings
gunicorn>=20.0.4
json2xml
jsonschema>=3.0.1
lxml
mako
# esgf-compute-api (cwt) needs oauthlib but doesn't add it in their requirements
oauthlib
owslib==0.25.0
# FIXME: pymongo>=4 breaks with kombu corresponding to pinned Celery (https://github.com/crim-ca/weaver/issues/386)
pymongo>=3.12.0,<4
# pyproj>=2 employed by OWSLib, but make requirements stricter
pyproj>=3
pyramid>=1.7.3
pyramid_beaker>=0.8
pyramid_celery
pyramid_mako
python-dateutil
pyramid_rewrite
pyramid_storage
pytz
pywps==4.5.1
pyyaml>=5.2
# required by: cwltool => schema_salad, make requirement stricter because it has longer wheel build time
# otherwise 'setuptools>58.3.0' breaks with other packages
# due to deprecated `use_2to3` called within `rdflib-jsonld` (via cwltool -> schema_salad)
# (see https://github.com/pypa/setuptools/blob/7685e2393c9f44bcff13d62361f2355595d856ba/CHANGES.rst#v5803)
rdflib-jsonld>0.5.0,<0.6.2
requests
requests_file
# let cwltool define ruamel.yaml version (<=0.16.5)
# ensure minimal 0.15.78 to solve install issue (python 3.8)
# (https://bitbucket.org/ruamel/yaml/issues/261/error-while-installing-ruamelyaml-setuppy)
ruamel.yaml>=0.15.78,<=0.16.5
shapely
simplejson
urlmatch
xmltodict
webob
