-r requirements-sys.txt
alembic
babel
beaker
beautifulsoup4
# AWS support (S3 buckets)
boto3
boto3-stubs[s3]
# windows fixes until
# https://github.com/celery/billiard/issues/260
# https://github.com/celery/billiard/issues/313
billiard>2; sys_platform != "win32"  # avoid issue with use_2to3
billiard>3.2,<3.4; sys_platform == "win32"
# pymongo>=4 breaks for some kombu combinations corresponding to pinned Celery
# - https://github.com/crim-ca/weaver/issues/386
# - https://github.com/celery/kombu/pull/1536
# - https://github.com/celery/celery/pull/7834
#   celery >=4.4.3 breaks on 'future.utils' import
#   celery's CLI interface changed
#   https://github.com/celery/celery/blob/master/docs/whatsnew-5.2.rst#upgrading-from-celery-4x
celery[mongodb]<4; sys_platform == "win32"  # rq.filter: <4  # pyup: ignore
# Remove extra '[mongodb]' from 'celery' to avoid 'pymongo[srv]' extra requirement.
# (https://github.com/celery/celery/blob/main/requirements/extras/mongodb.txt)
# This breaks in 'pymongo>=4.8.0' since 'srv' is removed.
# - https://jira.mongodb.org/browse/PYTHON-4756
# - https://github.com/celery/celery/issues/9254
# Note that 'srv' does not add anything since 'pymongo==4.3.0' (https://jira.mongodb.org/browse/PYTHON-3423).
# Therefore, use plain 'celery', and rely on our 'pymongo' dependency.
celery>=5.2.2,<6; sys_platform != "win32"
cffi
colander<2
# FIXME: patch fix of the cornice service prefixed route path resolution (https://github.com/Cornices/cornice/pull/584)
# FIXME: issue during tests (see https://github.com/Cornices/cornice/pull/584#issuecomment-2089676743)
### cornice @ git+https://github.com/fmigneault/cornice.git@fix-service-route-prefix
cornice
#cornice_swagger>=0.7.0
cornice-swagger @ git+https://github.com/fmigneault/cornice.ext.swagger.git@openapi-3
cryptography>=44.0.1
# FIXME: properly support GPU execution
#   - https://github.com/crim-ca/weaver/issues/104
#   - https://github.com/crim-ca/weaver/issues/138
# use cwltool gpu-enabled support until integrated within the original tool
# (https://github.com/common-workflow-language/common-workflow-language/issues/587)
### git+https://github.com/crim-ca/cwltool@docker-gpu#egg=cwltool
cwltool==3.1.20241217163858
# for some reason, not the same release number,
# but same code as https://github.com/common-workflow-language/cwlprov/tree/0.6.0
cwlprov==0.1.1
dnspython>=2.6.1  # not directly required, pinned by Snyk to avoid a vulnerability; via pymongo dependency
docker>=7.1
duration
esgf-compute-api @ git+https://github.com/ESGF/esgf-compute-api.git@v2.3.7
# invalid 'zarr' requirement in 'geotiff' dependencies required by 'pywps' fail to install
# (https://github.com/KipCrossing/geotiff/pull/59)
geotiff>=0.2.8
# gunicorn >20 breaks some config.ini loading parameters (paste)
# use pserve to continue supporting config.ini with paste settings
gunicorn>=22
# reduced dependencies contrains to let packages update to latest (https://github.com/vinitkumar/json2xml/issues/157)
# even more reduced dependency constraints (https://github.com/vinitkumar/json2xml/pull/195)
json2xml==4.1.0
jsonschema>=3.0.1
# FIXME: kombu for pymongo>=4 not yet released as 5.3.0 (only pre-releases available)
# - https://github.com/crim-ca/weaver/issues/386
# - https://github.com/celery/kombu/pull/1536
# - https://github.com/celery/celery/pull/7834
kombu>=5.3.0b2,<6
lxml
mako
# force use of later mistune (https://github.com/common-workflow-language/schema_salad/pull/619#issuecomment-1346025607)
# employed by cwltool -> schema-salad -> mistune
#mistune>=2.0.3,<2.1
mypy_boto3_s3
numpy>=1.22.2
# esgf-compute-api (cwt) needs oauthlib but doesn't add it in their requirements
oauthlib
owslib==0.32.1
PasteDeploy>=3.1.0; python_version >= "3.12"
pint
psutil
# notes: https://github.com/geopython/pygeofilter
# - FES: OGC Filter Expression Standard (https://docs.ogc.org/is/09-026r2/09-026r2.html#107)
#   uses https://github.com/geopython/pygml
# - JFE: JSON Filter Expressions
#   https://github.com/tschaub/ogcapi-features/tree/json-array-expression/extensions/cql/jfe
# - extra 'backend-native' uses shapely for Python objects
# - support FES, CQL(TEXT,JSON), CQL2(TEXT,JSON), ECQL, JFE
pygeofilter[fes,backend-native]>=0.3.1
# pymongo>=4 breaks for some kombu combinations corresponding to pinned Celery
# - https://github.com/crim-ca/weaver/issues/386
# - https://github.com/celery/kombu/pull/1536
# - https://github.com/celery/celery/pull/7834
pymongo>=4.6.3  # either (pymongo>=4, kombu>=5.3.0b2) or (pymongo<4, celery<5.2)
pyramid>=1.7.3
pyramid_beaker>=0.8
# see https://github.com/sontek/pyramid_celery/pull/102 to fix Python 3.12 support and other improvements
#pyramid_celery>=4.0.0   # required for celery>=5
pyramid_celery @ git+https://github.com/crim-ca/pyramid_celery.git@5.0.0a
pyramid_mako
pyramid_rewrite
pyramid_storage
pystac
pystac_client
python-box
python-dateutil
pytz
pywps==4.6.0
pyyaml>=5.2
rdflib>=5  # pyup: ignore
requests>=2.32.2
requests_file
# FIXME: https://github.com/requests/toolbelt/pull/380
requests_toolbelt @ git+https://github.com/crim-ca/requests-toolbelt.git@patch-multipart
ruamel.yaml>=0.16
# force use of later mistune (https://github.com/common-workflow-language/schema_salad/pull/619#issuecomment-1346025607)
# employed by cwltool -> schema-salad -> mistune
schema-salad>=8.3.20221209165047,<9
shapely
simplejson
# urllib3 not directly required, pinned by Snyk to avoid CVE-2024-37891
urllib3>=2.5.0
urlmatch
xmltodict
webob
werkzeug>=3.0.3,<3.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
