alembic
beaker
# AWS support (S3 buckets)
boto3
# windows fixes until
# https://github.com/celery/billiard/issues/260
# https://github.com/celery/billiard/issues/313
billiard; sys_platform != "win32"
billiard>3.2,<3.4; sys_platform == "win32"
# celery 5 to be released in near future
# celery >=4.4.3 breaks on 'future.utils' import
celery[mongodb]==5.2.0; sys_platform != "win32"
celery[mongodb]<4; sys_platform == "win32"
cffi
colander
cornice
#cornice_swagger>=0.7.0
git+https://github.com/fmigneault/cornice.ext.swagger.git@openapi-3#egg=cornice-swagger
# FIXME: properly support GPU execution
#   - https://github.com/crim-ca/weaver/issues/104
#   - https://github.com/crim-ca/weaver/issues/138
# use cwltool gpu-enabled support until integrated within the original tool
# (https://github.com/common-workflow-language/common-workflow-language/issues/587)
### git+https://github.com/crim-ca/cwltool@docker-gpu#egg=cwltool; python_version >= "3"
# FIXME: remove extra CWL code and let it handle it for use
#   - changes since cause error with invalid get_listing import location
#   - https://github.com/crim-ca/weaver/issues/154
cwltool>=2,<=3.0.20200324120055
duration
git+https://github.com/ESGF/esgf-compute-api.git@v2.3.7#egg=esgf-compute-api
# gunicorn >20 breaks some config.ini loading parameters (paste)
# it is also only available for Python >=3.5
# use pserve to continue supporting config.ini with paste settings
gunicorn>=20.0.4
jsonschema>=3.0.1
lxml
mako
# esgf-compute-api (cwt) needs oauthlib but doesn't add it in their requirements
oauthlib
owslib==0.25.0
pymongo>=3.12.0
# pyproj>=2 employed by OWSLib, but make requirements stricter
pyproj>=3
pyramid>=1.7.3
pyramid_beaker>=0.8
pyramid_celery
pyramid_mako
python-dateutil
pyramid_rewrite
pytz
pywps==4.5.0
pyyaml>=5.2
# required by: cwltool => schema_salad, make requirement stricter because it has longer wheel build time
rdflib-jsonld==0.5.0
requests
requests_file
# let cwltool define ruamel.yaml version (<=0.16.5)
# ensure minimal 0.15.78 to solve install issue (python 3.8)
# (https://bitbucket.org/ruamel/yaml/issues/261/error-while-installing-ruamelyaml-setuppy)
ruamel.yaml>=0.15.78,<=0.16.5
shapely
simplejson
urlmatch
xmltodict
webob
