# pyup: ignore file
-r requirements-doc.txt
# pylint>=2.5 requires astroid>=2.4
# install/update sometime fails randomly, so enforce it
astroid
bandit
bump2version
codacy-coverage
coverage
doc8>=0.8.1
docformatter
flake8
flynt
isort>=4.3.21,<5
mock<4
# AWS mock tests (against boto3)
moto>3
pluggy>=0.7
# FIXME: bad interpolation of 'setup.cfg' for pytest 'log_format' (https://github.com/pytest-dev/pytest/issues/10019)
pytest<7
pydocstyle
# FIXME: bad docstring asterisks args handling (https://github.com/PyCQA/pylint/issues/5406)
pylint>=2.11,<2.12
pylint_quotes
responses
safety
stopit
# typing extension required for TypedDict
typing_extensions; python_version < "3.8"
WebTest
wsgiproxy
WSGIProxy2
