-r requirements-sys.txt
# these are doc-only requirements
# we actually need to install all requirements during docs build because of OpenAPI generation
# (see 'docs/source/conf.py')
-r requirements.txt
cloud_sptheme
jinja2<3.1  # fix sphinx failing, see: https://github.com/sphinx-doc/sphinx/issues/10291
sphinx>=3.5,<5
sphinx-argparse
sphinx-autoapi>=1.7.0
sphinx-paramlinks>=0.4.1
# adds redoc OpenAPI directly served on readthedocs
sphinxcontrib-redoc>=1.6.0
# extras renamed in 1.19 (see https://github.com/tox-dev/sphinx-autodoc-typehints/issues/263)
sphinx_autodoc_typehints[type_comments]<1.19; python_version <= "3.6"
sphinx_autodoc_typehints[type_comment]>=1.19; python_version >= "3.7"
sphinx_rtd_theme>=0.5.1
