-r requirements-docs.txt
bandit
bump2version
codacy-coverage
contextlib2; python_version < "3"
coverage
doc8
flake8
isort
mock
pluggy>=0.7
pytest
pylint>=2.5
pylint_quotes
responses
# typing extension required for TypedDict
typing_extensions; python_version < "3.8"
WebTest
wsgiproxy
WSGIProxy2
