/* --- Top-Level Containers --- */

.content {
    margin: 5em 2em 2em;
}

/* --- Generic Formats ---*/

.undefined {
    font-style: italic;
    font-size: 90%;
    color: dimgray;
}

.field {
    display: flex;
    display: -webkit-box;
}

.field-title {
    font-weight: bold;
}

.format-link {
    font-size: 80%;
}

/* --- Labels --- */

.label {
    display: inline;
    padding: 0.2em 0.5em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
    background-color: #5BC0DE; /* info default */
}

.label-danger {
    background-color: #CD0000;
}

.label-warning {
    background-color: #F0AD4E;
}

.label-info {
    background-color: #5BC0DE;
}

.label-success {
    background-color: #4CAF50;
}

.label-null {
    background-color: #808080;
    font-style: italic;
}

/* --- Version Footer --- */

.version-box {
    position: absolute;
    left: 1.5em;
}

.version-box > div {
    font-size: 75%;
    display: inline-block;
    position: relative;
    bottom: 1em;
    right: 1em;
}

.version-title {
    color: gray;
}

.version-tag {
}

/* --- Process ---*/

.process-list-item {
    margin-top: 1em;
}
