[buildout]
extends = buildout.cfg
parts += mongodb

[mongodb]
recipe = birdhousebuilder.recipe.mongodb
name = mongodb
# conda
pkgs = mongodb
# deployment
prefix = ${deployment:prefix}
user = ${deployment:user}
etc-user = ${deployment:etc-user}
# mongodb config
host = ${settings:mongodb-host}
port = ${settings:mongodb-port}
