{
    "crim": {
        "netloc":"ogc-ades.crim.ca",
        "ades":"https://ogc-ades.crim.ca/weaver"
    },
    "localhost": {
        "netloc":"localhost",
        "ades":"https://localhost:4001",
        "default":"true"
    },
    "opensearchdefault": {
        "collection_id": "",
        "accept_schemes": ["http", "https"],
        "rootdir": "",
        "ades": "http://localhost:4001",
        "osdd_url": "http://example.com/opensearchdescription.xml"
    }
}
