/* override readthedocs theme to enforce using full-screen width for content */
.wy-nav-content {
    max-width: none;
}

/* force code-table to align their cells to top (align code line numbers between columns)
    note: class attribute must be applied to match this specific type of table
*/
.code-table tbody tr td {
    vertical-align: top !important;

    /* max-width: min-content; */
}

/* force code blocks to be a small as possible and centered
   but also revert for tables that already does it across its full width
   (without revert, some horizontal scrollbars for 1px move are displayed)
*/

/*
div[class^="highlight"] {
    max-width: min-content;
}
.code-table tbody tr td div {
    max-width: none !important;
}
*/

/* override table width restrictions
   avoids cells trying to fit all their text single line with a slider
   instead, text will wrap according to specified :widths: specifications
*/
.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal;
}

.wy-table-responsive table > tbody > tr > td > ul > li > dl {
    line-height: 18px;
}

.wy-table-responsive table > tbody > tr > td > ul > li > dl > dt {
    font-weight: normal;
}

.wy-table-responsive {
    margin-bottom: 24px;
    max-width: 100%;
    overflow: visible;
}

/* add missing border when row spans more than one line */
.rst-content table.docutils td:first-child,
.rst-content table.docutils th:first-child,
.rst-content table.field-list td:first-child,
.rst-content table.field-list th:first-child,
.wy-table td:first-child,
.wy-table th:first-child {
    border-left-width: 1px;
    border-right-width: 1px;
}

/* avoid mismatching background color in
   table rows that spans multiple lines, due to
   alternating colors on individual odd/even rows
 */
#table-file-type-handling tr.row-even > td[rowspan] {
  background-color: revert;
}
