# run test suites

name: Tests
on:
  push:
    branchhes:
      - "**"
    tags:
      - "**"
  pull_request:
    types: [opened, synchronize, reopened]
  release:
    types: [created]

jobs:
  # see: https://github.com/fkirc/skip-duplicate-actions
  skip_duplicate:
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip && ! contains(github.ref, "refs/tags") }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: "same_content"
          skip_after_successful_duplicate: "true"
          do_not_skip: '["pull_request", "workflow_dispatch", "schedule", "release"]'

  # see: https://github.com/actions/setup-python
  tests:
    needs: skip_duplicate
    if: ${{ needs.skip_duplicate.outputs.should_skip != 'true' }}
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.allow-failure }}
    env:
      # override make command to install directly in active python
      CONDA_COMMAND: ""
    services:
      # Label used to access the service container
      mongodb:
        image: mongo:3.4.23  # DockerHub
        ports:
          - "27017:27017"
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.6", "3.7", "3.8"]
        allow-failure: [false]
        test-case: [test-unit, test-func]
        include:
          # linter tests
          - os: ubuntu-latest
            python-version: 3.7
            allow-failure: false
            test-case: check
          # documentation build
          - os: ubuntu-latest
            python-version: 3.7
            allow-failure: false
            test-case: docs
          # coverage test
          - os: ubuntu-latest
            python-version: 3.7
            allow-failure: false
            test-case: coverage
          # smoke test of Docker image
          - os: ubuntu-latest
            python-version: 3.7  # doesn't matter which one (in docker), but match default of repo
            allow-failure: false
            test-case: test-docker
          # EMS end-2-end Workflow tests
          - os: ubuntu-latest
            python-version: 3.7
            allow-failure: true
            test-case: test-workflow
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install Dependencies
        run: make install-pkg install-dev version
      - name: Display Packages
        run: pip freeze
      #- name: Setup Environment Variables
      #  uses: c-py/action-dotenv-to-setenv@v2
      #  with:
      #    env-file: ./ci/weaver.env
      - name: Display Environment Variables
        run: |
          hash -r
          env | sort
      - name: Run Tests
        run: make stop ${{ matrix.test-case }}
      - name: Upload coverage report
        uses: codecov/codecov-action@v1
        if: ${{ success() && matrix.test-case == 'coverage' }}
        with:
          files: ./reports/coverage.xml
          fail_ci_if_error: true
          verbose: true
